{%extends 'all-news/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through news   -->


  <!-Some code above--->
{% for news_item in news %}

  <div class="row" style="border-radius: 20px">
    <div class="col-md-4">
    <!-- displaying News articles -->
      <h2 class="text-center"> {{ news_item.title }} </h2>
   

    <!--Display news Article images  -->
{%if news_item.article_image %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
      <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image">
    </div>
{%endif%}
  </div>

 
 
    <!-- <h2 class="text-center">There No News Items</h2> -->
 
  {% endfor %}
  </div>
 
</div>

{% endblock %}